body{
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  color:#333;
}
.container
{
  width:960px;
  margin: 0 auto;
} 
.row{
  display:block;
  margin: 0 0 5px 0;
}
.key{
  width:60px;
  height:35px;
  display:inline-block;
  border: 1px solid #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.key .top, .key .bottom
{
  display:block;
  width:100%;
  text-align:center;
}
.key.delete, .key.tab
{
  width:80px;
}
.key.capslock
{
  width:100px;
}
.key.enter
{
  width:106px;
}
.key.shift
{
  width: 136px;
}
.key.space{
  width:378px;
}
.key.pressed{
  background-color:#ccc;
}

.js
{
  border: 1px solid #ccc;
  padding:10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin:10px 0 10px 0;
}
